<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
    .status{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .name{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background-color: aqua">
    <h3 style="text-align: center">Hi all, This is my family member</h3>
    <table align="center" style="text-align: center">
        <tr>
            <td class="status">Status</td>
            <td class="name">Name</td>
        </tr>
        {% for family_member in family %}
            <tr>
                <td class="status">{{ family_member.status }}</td>
                <td class="name">{{ family_member.name }}</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <div class="col-md-12 text-center">
        <button id="next_button" name="first_pop_button" class="btn btn-primary">Go to Lab 2 Addon</button>
    </div>
</body>
<script>
    $(document).ready(function(){
        $("#next_button").click(function(){
            window.location.href = '/lab-2-addon/'
        });

    });
</script>
</html>
